.row-search {
  height: 10vh;
  background-color: black;
}

.row-content {
  height: 90vh;
  overflow-y: auto;
}

input:focus {
  border: none !important;
}

.wrap-Poster {
  width: 40%;
}

.wrap-details {
  width: 60%;
}

.input-group.md-form.form-sm.form-1 input {
  background-color: rgb(56, 56, 56);
  height: 65%;
  border-top-right-radius: 1rem;
  border: none !important;
  border-bottom-right-radius: 1rem;
}

.input-group-text {
  border: none;
  background-color: rgb(56, 56, 56);
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;
}

.row-wrap-movie-card {
  height: 100%;
}

.img-movie {
  cursor: pointer;
  height: 90%;
  width: 100%;
}

.font {
  font-family: cursive;
  font-size: 0.9rem;
}

.font-title {
  font-family: cursive;
  font-size: 1rem;
  font-weight: bold;
}

.img-modal {
  box-shadow: 2px 0px 6px 1px;
  border-radius: 4px;
  height: 40vh;
  width: 100%;
  margin-left: 0.5rem;
}

.pointer {
  cursor: pointer;
}